.env
myenv/
venv/
media/
__pycache__/
env/
staticfiles/
*.pyc
*.sqlite3
db.sqlite3
deploy.zip
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
