option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: Rolling
    Timeout: "1800"
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    MaxBatchSize: 1
    MinInstancesInService: 0
    Timeout: PT30M
  aws:elasticbeanstalk:application:environment:
    DOCKER_CLIENT_TIMEOUT: "300"
    COMPOSE_HTTP_TIMEOUT: "300"
