<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/global_styles.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/images/favicon.ico' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

{% include 'core/components/reusable_navbar.html' with nav_items=nav_items current_page=current_page %}

<div class="main-content">
    {% block content %}
    {% endblock %}
</div>

<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Centralized Background Sync (runs once per session) -->
<script>
(function() {
    'use strict';
    
    // Only run once per browser session
    if (sessionStorage.getItem('xeroSyncComplete')) {
        console.log('[Xero Sync] Already synced this session');
        return;
    }
    
    // Get CSRF token
    function getCSRFToken() {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, 10) === 'csrftoken=') {
                    cookieValue = decodeURIComponent(cookie.substring(10));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    // Fetch Xero instances and sync contacts for each
    $.ajax({
        url: '/core/get_xero_instances/',
        type: 'GET',
        success: function(instances) {
            if (!instances || instances.length === 0) {
                console.log('[Xero Sync] No Xero instances found');
                sessionStorage.setItem('xeroSyncComplete', 'true');
                return;
            }
            
            console.log('[Xero Sync] Starting background sync for', instances.length, 'instances');
            
            var syncPromises = instances.map(function(instance) {
                return $.ajax({
                    url: '/core/pull_xero_contacts/' + instance.xero_instance_pk + '/',
                    type: 'POST',
                    headers: { 'X-CSRFToken': getCSRFToken() },
                    timeout: 60000
                }).then(function(response) {
                    console.log('[Xero Sync] Synced contacts for', instance.xero_name, ':', 
                        response.details ? response.details.new_contacts_added + ' new' : 'done');
                }).catch(function(err) {
                    console.log('[Xero Sync] Failed for', instance.xero_name);
                });
            });
            
            $.when.apply($, syncPromises).always(function() {
                sessionStorage.setItem('xeroSyncComplete', 'true');
                console.log('[Xero Sync] All syncs complete');
            });
        },
        error: function() {
            console.log('[Xero Sync] Could not fetch instances');
            sessionStorage.setItem('xeroSyncComplete', 'true');
        }
    });
})();
</script>

</body>
</html>
