{% extends "core/master.html" %}

{% load humanize %}
{% load static %}
{% load i18n %}

{% block title %}
  Drawings - Developer Project Manager
{% endblock %}

{% block content %}
<head>
    <script src="https://unpkg.com/pdfjs-dist@2.6.347/build/pdf.js"></script>
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
    <style>
        .plan:hover, .report:hover {
            cursor: pointer;
            background-color: #f0f0f0;
        }
        .plan.selected, .report.selected {
            background-color: #A090D0;
            color: white;
        }
        .pdf-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .pdf-page {
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }
        .flex-container {
            display: flex;
            width: 100%;
        }
        .plans {
            flex: 0 0 15%;
            width: 15%;
            box-sizing: border-box;
        }
        #pdfViewer {
            flex: 0 0 85%;
            width: 85%;
            box-sizing: border-box;
        }
    </style>
</head>

<h3 style="text-align: center;">{{ project_name }} <img src="{% static 'core/images/logo.png' %}" alt="Icon" style="height: 1.6em; vertical-align: middle; position: relative; bottom: 0.3em;">anager - Drawings</h3>

<div class="flex-container">
    <div class="plans">
        <div style="display: flex; justify-content: center; width: 100%; padding: 2px;">
            <div style="width: 90%;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal" style="background-color: white; color: black; border: 3px solid; border-image: var(--gradient-primary-45deg) 1; width: 100%; white-space: nowrap; font-size: 1em;">
                    <strong>Create Category</strong>
                </button>
            </div>
        </div>

<!-- modal to create new plan or report category -->
        <div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="max-width: 300px;">
                <div class="modal-content" style="border: 3px solid black;">
                    <div class="modal-header" style="text-align: center; background: var(--gradient-primary-45deg);">
                        <h5 class="modal-title">Create Category</h5>
                    </div>
                    <div class="modal-body">
                        <select class="form-control" id="categoryType">
                            <option selected>Select type of Category...</option>
                            <option value="Plan">Plan</option>
                            <option value="Report">Report</option>
                        </select>
                        <input type="text" id="categoryName" class="form-control" placeholder="Category Name" style="margin-top: 10px;">
                    </div>
                    <div class="modal-footer">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn btn-primary" id="saveCategoryButton">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Plans upload Modal -->
        <div class="modal fade" id="pdfUploadModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="max-width: 500px; max-height: 90vh;">
                <div class="modal-content" style="border: 3px solid black; height: 100%; overflow: auto;">
                    <div class="modal-header" style="text-align: center; background: var(--gradient-primary-45deg);">
                        <h5 class="modal-title">Label and Upload Plans</h5>
                    </div>
                    <div class="modal-body" style="max-height: 75vh; overflow-y: auto;">
                        <div class="row">
                            <div class="col-2">
                                <label for="categorySelect"><strong>Category</strong></label>
                            </div>
                            <div class="col-6 ml-5">
                                <select class="form-control" id="categorySelect">
                                    <option selected disabled>Select...</option>
                                    {% for design_category in design_categories %}
                                        <option value="{{ design_category.design_category_pk }}">{{ design_category.design_category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" id="prevPage">Previous</button>
                            </div>
                            <div class="col-3 ml-5">
                                <input type="text" id="pdfName" class="form-control" placeholder="Plan">
                            </div>
                            <div class="col-3">
                                <input type="text" id="revNum" class="form-control" placeholder="Revision">
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" id="nextPage">Next</button>
                            </div>
                        </div>
                            <canvas id="pdfModalViewer" style="width: 100%; height: 500px;"></canvas>
                    </div>
                    <div class="modal-footer">
                        <div class="col-6">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn btn-primary" id="uploadPDFButton">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Reports upload Modal -->
<div class="modal fade" id="reportsUploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 500px; max-height: 90vh;">
        <div class="modal-content" style="border: 3px solid black; height: 100%; overflow: auto;">
            <div class="modal-header" style="text-align: center; background: var(--gradient-primary-45deg);">
                <h5 class="modal-title">Upload Reports</h5>
            </div>
            <div class="modal-body" style="max-height: 75vh; overflow-y: auto;">
                <div class="row">
                    <div class="col-2">
                        <label for="reportCategorySelect"><strong>Category</strong></label>
                    </div>
                    <div class="col-6 ml-5">
                        <select class="form-control" id="reportCategorySelect">
                            <option selected disabled>Select...</option>
                            {% for report_category in report_categories %}
                                <option value="{{ report_category.report_category_pk }}">{{ report_category.report_category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-2">
                        <button type="button" class="btn btn-primary" id="reportPrevPage">Previous</button>
                    </div>
                    <div class="col-6 ml-5">
                        <input type="text" id="reportPdfName" class="form-control" placeholder="Report Name">
                    </div>
                    <div class="col-2 ml-auto">
                        <button type="button" class="btn btn-primary" id="reportNextPage">Next</button>
                    </div>
                </div>
                    <canvas id="reportModalViewer" style="width: 100%; height: 500px;"></canvas>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" id="uploadReportButton">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<!-- Plans title, upload button & generated list of plans -->
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Plans</h2>
            <button id="uploadbtn" style="background-color: white; color: black; border: 3px solid; border-image: var(--gradient-primary-45deg) 1; width: 50%; white-space: nowrap; font-size: 1em; margin-right: 10px;">
                <strong>Upload</strong>
            </button>
        </div>
        {% for design_category in design_categories %}
            <p class="plan" 
            data-plan-id="{{ design_category.design_category_pk }}" 
            data-plan-numbers="{{ design_category.plan_numbers|join:',' }}" 
            data-rev-numbers="{{ design_category.rev_numbers|escapejs }}"
            style="margin-bottom: 5px;">
                <strong>{{ design_category.design_category }}</strong>
                <input type="hidden" id="planId{{ design_category.design_category_pk }}" value="{{ design_category.design_category_pk }}" />
            </p>
        {% endfor %}
        <br>

<!-- Reports title, upload button & generated list of plans -->
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h2>Reports</h2>
            <button id="uploadReportBtn" style="background-color: white; color: black; border: 3px solid; border-image: var(--gradient-primary-45deg) 1; width: 50%; white-space: nowrap; font-size: 1em; margin-right: 10px;">
                <strong>Upload</strong>
            </button>
        </div>
        {% for report_category in report_categories %}
            <p class="report" 
            data-report-id="{{ report_category.report_category_pk }}" 
            style="margin-bottom: 5px;">
                <strong>{{ report_category.report_category }}</strong>
                <input type="hidden" id="reportId{{ report_category.report_category_pk }}" value="{{ report_category.report_category_pk }}" />
            </p>
        {% endfor %}

    </div>



    <div class="iframe-container" style="border: 3px solid; border-image: var(--gradient-primary-45deg) 1; padding: 10px;">
        <div class="number-container" style="display: flex; flex-direction: column; height: 650px;">
            <!-- No initial population -->
        </div>
    
        <iframe id="pdfViewer" style="height: 650px;"></iframe>
        <!-- Add this directly after the iframe -->
        <div class="rev-container" style="display: flex; flex-direction: column; justify-content: space-between; height: 650px; width: 0px;">
            <!-- Revision numbers will be populated here by JavaScript -->
        </div>
    </div>
    
    <style>
        .iframe-container {
            display: flex;
            width: calc(85% - 20px); /* subtract padding */
            box-sizing: border-box;
        }
        .number-box {
            flex: 1;
            border: 1px solid black; /* to visualize the boxes */
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
        }
        #pdfViewer {
            flex: 1; /* take up the remaining space */
            box-sizing: border-box;
        }
    </style>

<script src="{% static 'core/js/add_plan.js' %}"></script>

{% endblock %}
