{% extends "core/master.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% block title %}
  Developer Project Manager
{% endblock %}
{% block content %}

<head>
    <link rel="icon" href="{% static 'core/images/favicon.ico' %}">
</head>

<h3 style="text-align: center;">{{ project_name }} Project <img src="{% static 'core/images/logo.png' %}" alt="Icon" style="height: 1.6em; vertical-align: middle; position: relative; bottom: 0.3em;">anager - Consultants, Authorities</h3>

<div style="display: flex; justify-content: space-between;">
  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="dropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: var(--gradient-primary-45deg) 1;">
        <option selected disabled>Quotes</option>
        <option id="commitCostsBtn" value="commitCosts">Enter Quotes</option>
        <option id="committedQuotesBtn" value="committedQuotes">Existing Quotes</option>
    </select>
  </div>

  <div style="width: 175px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="poDropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: var(--gradient-primary-45deg) 1;">
        <option selected disabled value="PurchaseOrders">Purchase Orders</option>
        <option id="createPoBtn" value="createPo">Create PO</option>
        <option id="createRecurringPoBtn" value="createPo">Create Recurring PO</option>
        <option id="viewSendPoBtn" value="viewSendPo">View and Send POs</option>
        <option id="updatePoBtn" value="updatePo">Update PO</option>
    </select>
  </div>

  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="claimsDropdownInvoices" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: var(--gradient-primary-45deg) 1;">
        <option selected disabled value="Invoices">Invoices</option>
        <option id="newClaimBtnInvoices" value="newClaim">New Invoice</option>
        <option id="existingClaimsBtnInvoices" value="existingClaims">Unallocated Invoices</option>
        <option id="allocatedInvoicesSelect" value="allocatedInvoicesValue">Allocated Invoices</option>
    </select>
  </div>
</div>

<input type="file" id="pdfInput" style="opacity: 0; position: absolute; left: -9999px;">
<input type="file" id="newClaimPdfInputInvoices" style="opacity: 0; position: absolute; left: -9999px;">
<input type="hidden" id="division" value="{{ division }}">

{% include 'core/base_table.html' %}
<script src="{% static 'core/js/secret_buttons.js' %}"></script>
{% include 'core/po_modals.html' %}
{% include 'core/invoices_modals.html' %}
{% include 'core/quotes_modals.html' %}
{{ contacts|json_script:"contacts" }}
{{ contacts_unfiltered|json_script:"contacts_unfiltered" }}
{{ committed_quotes|json_script:"committed-quotes-data" }}
{{ costings|json_script:"costings" }}
{{ items|json_script:"items-data" }}
{{ quote_allocations|json_script:"quote-allocations-data" }}
{{ claim_category_totals|json_script:"claim-category-totals" }}

<script type="text/javascript">
    var contacts = JSON.parse(document.getElementById('contacts').textContent);
    var contacts_unfiltered = JSON.parse(document.getElementById('contacts_unfiltered').textContent);
    var committedQuotes = JSON.parse('{{ committed_quotes|escapejs|safe }}');
    var costings = JSON.parse(document.getElementById('costings').textContent);
    var quote_allocations = JSON.parse('{{ quote_allocations|escapejs|safe }}');
    var division = "{{ division }}";
    console.log("division is:" + division);
    var progress_claim_quote_allocations = JSON.parse('{{ progress_claim_quote_allocations_json|escapejs }}');
    var progress_claim_invoice_allocations = JSON.parse('{{ progress_claim_invoice_allocations_json|escapejs }}');
    var claim_category_totals = JSON.parse('{{ claim_category_totals|escapejs }}');

</script>

<script src="{% static 'core/js/base_table.js' %}"></script>
<script src="{% static 'core/js/quotes_1.js' %}"></script>
<script src="{% static 'core/js/quotes_2.js' %}"></script>
<script src="{% static 'core/js/contacts.js' %}"></script>
<script src="{% static 'core/js/po.js' %}"></script>
<script src="{% static 'core/js/view_send_po.js' %}"></script>
<script src="{% static 'core/js/invoices_1.js' %}"></script>
<script src="{% static 'core/js/invoices_2.js' %}"></script>
<script src="{% static 'core/js/invoices_3.js' %}"></script>
<script src="{% static 'core/js/invoices_4.js' %}"></script>
<script src="{% static 'core/js/invoices_5.js' %}"></script>
<script src="{% static 'core/js/invoices_6.js' %}"></script>
<script src="{% static 'core/js/hc_claims_1.js' %}"></script>
<script src="{% static 'core/js/hc_claims_2.js' %}"></script>
<script src="{% static 'core/js/hc_claims_3.js' %}"></script>


{% endblock %}
