<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/favicon.ico' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div class="custom-navbar" style="background-color: white; border: 3px solid; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1; padding: 10px;">
    <ul style="list-style-type: none;">
        <li>
            <a href="#" id="showSPVDetailsLink" style="color: black !important; {% if current_page == 'spvDetails' %}background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;{% endif %}">SPV Details</a>
        </li>
        {% if is_homepage or current_page == 'build' %}
            <li>
                <a href="#" id="showContactsLink" style="color: black !important; {% if current_page == 'contacts' %}background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;{% endif %}">Suppliers</a>
            </li>
        {% endif %}
        <div style="height: 3px; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);"></div>
        <li>
            <a href="{% url 'homepage' %}" id="no_id_yet" style="color: black !important; {% if current_page == 'quotes' %}background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;{% endif %}">Developer</a>
        </li>
        <li>
            <a href="{% url 'build' %}" id="buildLink" style="color: black !important; {% if current_page == 'build' %}background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;{% endif %}">Builder</a>
        </li>
        <li>
            <a href="{% url 'drawings' %}" id="drawingsLink" style="color: black !important; {% if current_page == 'drawings' %}background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;{% endif %}">Drawings</a>
        </li>
        <li>
            <a href="{% url 'model_viewer' %}" id="model_viewerLink" style="color: black !important; {% if current_page == 'model_viewer' %}background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;{% endif %}">Model</a>
        </li>
    </ul>
</div>

<div class="main-content">
    {% block content %}
    {% endblock %}
</div>

<div class="modal fade" id="spvDetailsModal" tabindex="-1" role="dialog" aria-labelledby="spvDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
        <div class="modal-header">
          <h5 class="modal-title" id="spvDetailsModalLabel"><strong>SPV Details</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background: transparent;">
          <strong>Address: </strong>{{ spv_data.address }}<br>
          <strong>Lot Size: </strong>{{ spv_data.lot_size }}<br>
          <strong>Legal Owner: </strong>{{ spv_data.legal_owner }}<br>
          <strong>Folio Identifier: </strong>{{ spv_data.folio_identifier }}<br>
          <strong>Bill to: </strong>{{ spv_data.bill_to }}<br>
          <strong>Email: </strong>{{ spv_data.email }}<br>
          <strong>Owner Address: </strong>{{ spv_data.owner_address }}<br>
          <strong>Director 1: </strong>{{ spv_data.director_1 }}<br>
          <strong>Director 2: </strong>{{ spv_data.director_2 }}<br>
          <strong>ABN: </strong>{{ spv_data.abn }}<br>
          <strong>ACN: </strong>{{ spv_data.acn }}<br>
        </div>
        <div class="modal-footer" style="background: transparent;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
        $("#showSPVDetailsLink").click(function(){
            $("#spvDetailsModal").modal('show');
        });
    });
  </script>

</body>
</html>
