{% extends "master.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% block title %}
  Developer Project Manager
{% endblock %}
{% block content %}
<head>
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <style>
        .client-dropdown option {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* Adjust this value as needed */
        }
    </style>
</head>

<h3 style="text-align: center;">{{ project_name }} Project <img src="{% static 'logo.png' %}" alt="Icon" style="height: 1.6em; vertical-align: middle; position: relative; bottom: 0.3em;">anager - Build Contract</h3>

<div style="display: flex; justify-content: space-between;">
  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="dropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
        <option selected disabled>Quotes</option>
        <option id="commitCostsBtn" value="commitCosts">Enter Quotes</option>
        <option id="committedQuotesBtn" value="committedQuotes">Existing Quotes</option>
    </select>
  </div>

  <div style="width: 175px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="poDropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
        <option selected disabled>Purchase Orders</option>
        <option id="createPoBtn" value="createPo">Create PO</option>
        <option id="createPoBtn" value="createPo">Create Recurring PO</option>
        <option id="viewSendPoBtn" value="viewSendPo">View and Send POs</option>
        <option id="updatePoBtn" value="updatePo">Update PO</option>
    </select>
  </div>

  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="claimsDropdownInvoices" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
        <option selected disabled>Invoices</option>
        <option id="newClaimBtnInvoices" value="newClaim">New Invoice</option>
        <option id="existingClaimsBtnInvoices" value="existingClaims">Unallocated Invoices</option>
        <option id="allocatedInvoicesSelect" value="allocatedInvoicesValue">Allocated Invoices</option>

    </select>
  </div>

  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
      <select id="hcDropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
          <option selected disabled>HC Claims</option>
          <option id="hcMakeClaim" value="makeClaim">New Claim</option>
          <option id="hcExistingClaims" value="existingClaims">Existing Claims</option>
          <option id="hcPrepSheet" value="prepSheet">Claim Prep Sheet</option>
      </select>
  </div>
</div>

<input type="file" id="pdfInput" style="opacity: 0; position: absolute; left: -9999px;">
<input type="file" id="newClaimPdfInputInvoices" style="opacity: 0; position: absolute; left: -9999px;">
<input type="hidden" id="division" value="{{ division }}">

{% include 'base_table.html' %}
{% include 'po_modals.html' %}
{% include 'invoices_modals.html' %}
{% include 'hc_claim_modals.html' %}
{{ items|json_script:"items-data" }}
{{ committed_quotes|json_script:"committed-quotes-data" }}
{{ quote_allocations|json_script:"quote-allocations-data" }}
{{ costings|json_script:"costings" }}
{{ hc_claims|json_script:"hc_claims" }}
{{ contacts|json_script:"contacts" }}
{{ contacts_unfiltered|json_script:"contacts_unfiltered" }}
{{ hc_claim_lines_sums|json_script:"hc_claim_lines_sums" }}
{{ hc_claim_wip_adjustments|json_script:"hc_claim_wip_adjustments"}}
{{ claim_category_totals|json_script:"claim-category-totals" }}
{{ category_summary|json_script:"category_summary" }}

<script type="text/javascript">
  const contacts = JSON.parse(document.getElementById('contacts').textContent);
  const contacts_unfiltered = JSON.parse(document.getElementById('contacts_unfiltered').textContent);
  const committedQuotes = JSON.parse('{{ committed_quotes|escapejs|safe }}');
  const costings = JSON.parse(document.getElementById('costings').textContent);
  const hc_claims = JSON.parse('{{ hc_claims|escapejs|safe }}');
  const category_summary = JSON.parse(document.getElementById('category_summary').textContent);
  const current_hc_claim_display_id = "{{ current_hc_claim_display_id }}";
  const hc_prev_fixedonsite = "{{ hc_prev_fixedonsite }}";
  const quote_allocations = JSON.parse('{{ quote_allocations|escapejs|safe }}');
  const division = "{{ division }}";
  console.log("division is:" + division);
  const progress_claim_quote_allocations = JSON.parse('{{ progress_claim_quote_allocations_json|escapejs }}');
  const progress_claim_invoice_allocations = JSON.parse('{{ progress_claim_invoice_allocations_json|escapejs }}');
  const claim_category_totals = JSON.parse('{{ claim_category_totals|escapejs }}');
  console.log("Loaded claim_category_totals:", claim_category_totals);
  const hc_claim_wip_adjustments = JSON.parse(document.getElementById('hc_claim_wip_adjustments').textContent);

  // Format date function for display
  function formatDate(dateString) {
    if (!dateString) return '';
    const [year, month, day] = dateString.split('-');
    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    return `${day}-${months[parseInt(month, 10) - 1]}-${year.slice(2)}`;
  }
</script>

<script src="{% static 'main/base_table.js' %}"></script>
<script src="{% static 'main/fixed_on_site.js' %}"></script>
<script src="{% static 'main/commit_costs.js' %}"></script>
<script src="{% static 'main/committed_costs.js' %}"></script>
<script src="{% static 'main/contacts.js' %}"></script>
<script src="{% static 'main/po.js' %}"></script>
<script src="{% static 'main/view_send_po.js' %}"></script>
<script src="{% static 'main/invoices_1.js' %}"></script>
<script src="{% static 'main/invoices_2.js' %}"></script>
<script src="{% static 'main/invoices_3.js' %}"></script>
<script src="{% static 'main/invoices_4.js' %}"></script>
<script src="{% static 'main/invoices_5.js' %}"></script>
<script src="{% static 'main/invoices_6.js' %}"></script>
<!-- <script src="{% static 'main/hc_claims.js' %}"></script> -->
<script src="{% static 'main/hc_claims_1.js' %}"></script>
<script src="{% static 'main/hc_claims_2.js' %}"></script>
<script src="{% static 'main/hc_claims_3.js' %}"></script>

{% endblock %}
