{% load humanize %}
{% load math_filters %} <!-- Custom library to be able to subtract with Django tags-->

<!-- 1: SC Invoice Selection -->
<div class="modal fade" id="hcSelectInvoicesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 90%; height: 90vh;">
        <div class="modal-content" style="border: 3px solid black; height: 100%;">
            <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                <h5 class="modal-title">Create HC Claim - Select associated Invoices</h5>
            </div>
            <div class="modal-body row" style="height: calc(100% - 56px);"> <!-- Adjust height to account for header -->
                <div class="col-md-5" style="height: 100%;">
                    <iframe id="hcInvoicesPdfViewer" style="width: 100%; height: 100%; border: 1px solid #ddd;" src=""></iframe>
                </div>
                <div class="col-md-7" style="height: 100%;">
                    <div style="overflow-x: auto; white-space: nowrap; height: 100%; overflow-y: auto;">
                        <table class="table" style="font-size: 10px;">
                            <thead>
                                <tr>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Include</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Supplier</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Invoice #</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Net Total $</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">GST Total $</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Gross Total $</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Invoice Date</th>
                                    <th style="width: 11.5%; padding: 4px; line-height: 1.2;">Invoice Due Date</th>
                                    <th style="width: 8%; padding: 4px; line-height: 1.2;">View PDF</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices_allocated %}
                                        <tr style="line-height: 1;">
                                            {% if invoice.associated_hc_claim == 0 or invoice.associated_hc_claim == None %}
                                                <td style="padding: 4px;"><input type="checkbox" id="hcIncludeInClaim{{ invoice.invoice_pk }}"></td>
                                            {% else %}
                                                <td style="padding: 4px;">HC {{ invoice.display_id }}</td> 
                                            {% endif %}
                                            <td style="padding: 4px;">{{ invoice.contact_name }}</td>
                                            <td style="padding: 4px;">{{ invoice.supplier_invoice_number }}</td>
                                            <td style="padding: 4px;">{{ invoice.total_net | floatformat:2 | intcomma }}</td>
                                            <td style="padding: 4px;">{{ invoice.total_gst | floatformat:2 | intcomma }}</td>
                                            <td style="padding: 4px;">{{ invoice.total_net|add:invoice.total_gst|floatformat:2|intcomma }}</td>
                                            <td style="padding: 4px;">{{ invoice.invoice_date|date:"d-M-y" }}</td>
                                            <td style="padding: 4px;">{{ invoice.invoice_due_date|date:"d-M-y" }}</td>
                                            <td style="padding: 4px;"><a href="#" class="view-pdf-hcClaim" data-url="{{ invoice.pdf_url }}">View</a></td>
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-6 text-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" id="hcSendInvoicesToXeroButton"  data-division="{{division}}">Save and Start Claim</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 2: Existing Claims Modal -->
<div class="modal fade" id="existingClaimsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 90%; height: 90vh;">
        <div class="modal-content" style="border: 3px solid black; height: 100%;">
            <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                <h5 class="modal-title">Existing Claims</h5>
            </div>
            <div class="modal-body row">
                <div class="col-md-5" style="height: 100%;">
                    <div style="display: flex; justify-content: flex-end; margin-bottom: 8px;">
                        <button id="downloadClaimSummary" class="btn btn-sm btn-primary" style="background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%); border: none;">
                            <i class="fas fa-download"></i> Download PDF
                        </button>
                    </div>
                    <!-- The iframe for displaying table data dynamically -->
                    <iframe id="existingClaimsPdfViewer" style="width: 100%; height: calc(100% - 40px); border: 1px solid #ddd;" src=""></iframe>
                </div>
                <div class="col-md-7" style="height: 100%;">
                    <div style="overflow-x: auto; white-space: nowrap;">
                        <table id="existingClaimsTable" class="table" style="font-size: 10px;">
                            <thead>
                                <tr>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">Claim #</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">Client</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">Date</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">SC Total $</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">HC Total #</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">QS Total #</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">HC Claim Sheet</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">QS Claim Sheet</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">Process</th>
                                    <th style="width: 10%; padding: 4px; line-height: 1.2;">Send to Xero</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows will be added dynamically by JavaScript -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between w-100">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="sendToXeroButton" disabled>Send to Xero</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 3a: HC Claim Prep Sheet -->
<div class="modal fade" id="hcPrepSheetModal" tabindex="-1" role="dialog" aria-labelledby="hcPrepSheetModalLabel" aria-hidden="true" data-current-hc-claim-id="{{current_hc_claim_display_id}}" data-current-hc-claim-date="{{current_hc_claim_date|date:'Y-m-d'}}">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 90%;">
        <div class="modal-content" style="font-size: 0.8em;">
            <div class="modal-header">
                <h5 class="modal-title" id="hcPrepSheetModalLabel">HC Claim Prep Sheet - HC Claim #{{current_hc_claim_display_id}}</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="location.reload();">
                    <span aria-hidden="true">&times;</span>
                </button> -->
            </div>
            <div class="modal-body">
                <div style="overflow-x: visible; max-height: 70vh; overflow-y: auto;">
                    <table class="myTable" style="width:100%; border-collapse: separate; border-spacing: 0;">
                        <thead style="position: sticky; top: 0; z-index: 2; background: white;">
                            <tr>
                                <th colspan="2" style="background-color: white; color: black; border: none; height: 40px;"></th>
                                <th colspan="2" style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; text-align: center; border: none; height: 40px;">
                                    <strong>Budget</strong>
                                </th>
                                <th colspan="2" style="background-color: white; border: none; height: 40px;"></th>
                                <th colspan="3" style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; text-align: center; border: none; height: 40px;">
                                    <strong>Fixed on Site</strong>
                                </th>
                                <th colspan="2" style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; text-align: center; border: none; height: 40px;">
                                    <strong>SC Invoices</strong>
                                </th>
                                <th colspan="1" style="background-color: white; color: black; border: none; height: 40px;"></th>
                                <th colspan="2" style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; text-align: center; border: none; height: 40px;">
                                    <strong>HC Claims</strong>
                                </th>
                                <th colspan="2" style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; text-align: center; border: none; height: 40px;" >
                                    <strong>QS Claims</strong>
                                </th>
                            </tr>
                            <tr style="position: sticky; top: 40px; z-index: 2; background: white;">
                                <th style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; height: 40px;"><strong>Category</strong></th>
                                <th style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; height: 40px;"><strong>Item</strong></th>
                                <th style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; height: 40px;"><strong>Contract</strong></th>
                                <th style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; height: 40px;"><strong>Working</strong></th>
                                <th style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; height: 40px;"><strong>Uncommitted</strong></th>
                                <th style="background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white; height: 40px;"><strong>Committed</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"" title="Fixed on Site as $ amount of Working Budget, eg Contract Budget = $200 and Working Budget = $500, if 50% complete enter $250"><strong>Current </strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"><strong>Prev Claims</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"><strong>This Claim</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"><strong>Prev Claims</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"><strong>This Claim</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;" title="Manual Adjustment to both This HC Claim and This QS Claim."><strong>Adjustment</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"><strong>Prev Claims</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;" title="HC Claim Logic.&#13;This HC Claim = Min of [remaining claimable, Max of [0, [Contract budget - C2C - sum of Previous HC Claims].&#13; Remaining claimable = Contract budget - sum of Previous HC Claims.&#13;C2C = Working Budget - Paid Invoices & Invoices Associated with This Claim.&#13;Working Budget = Uncommitted + Committed."><strong>This Claim</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;"><strong>Prev Claims</strong></th>
                                <th style="position: sticky; top: 40px; background-image: linear-gradient(45deg, #A090D0, #B3E1DD); color: white;" title="QS Claim Logic.&#13;This QS Claim = Max of [0, Minimum of [(Contract budget less C2C), Fixed on Site] less sum of Previous QS Claims].&#13;C2C = Working Budget less Invoiced.&#13;Working Budget = Uncommitted + Committed."><strong>This Claim</strong></th>
                            </tr>
                        </thead>                                         
                        <tbody>
                            <style>
                                /* Styles for Margin category borders */
                                .margin-category-header {
                                    border: 2px solid #ff0000 !important;
                                }
                                .margin-category-row {
                                    border-left: 2px solid #ff0000 !important;
                                    border-right: 2px solid #ff0000 !important;
                                }
                                .margin-category-last-row {
                                    border-left: 2px solid #ff0000 !important;
                                    border-right: 2px solid #ff0000 !important;
                                    border-bottom: 2px solid #ff0000 !important;
                                }
                            </style>
                            {% regroup costings by category as costings_by_category %}
                            {% for category in costings_by_category %}
                                {% comment %}Check if this is the Margin category{% endcomment %}
                                {% with has_margin_item=False %}
                                    {% for costing in category.list %}
                                        {% if costing.category_order_in_list|floatformat:0 == '-1' %}
                                            {% with has_margin_item=True %}{% endwith %}
                                        {% endif %}
                                    {% endfor %}
                                
                                    {% comment %}Apply classes based on margin check{% endcomment %}
                                    <tr data-toggle="unique-collapse" data-target=".unique-group{{ forloop.counter }}" style="cursor: pointer;" class="{% if category.grouper == 'Margin' or has_margin_item %}margin-category-header{% endif %}">
                                <td>
                                    <strong>{{ category.grouper }}</strong>
                                    <span class="unique-dropdown-arrow" style="display: inline-block; margin-left: 5px; transition: all 0.3s ease;">&#9654;</span> <!-- Default right arrow -->
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                                {% for costing in category.list %}
                                <tr class="collapse unique-group{{ forloop.parentloop.counter }} {% if category.grouper == 'Margin' or costing.category_order_in_list|floatformat:0 == '-1' %}{% if forloop.last %}margin-category-last-row{% else %}margin-category-row{% endif %}{% endif %}">
                                <td data-category="{{ category.grouper }}">{{ category.grouper }}</td>
                                <td data-item-id="{{ costing.costing_pk }}">{{ costing.item }}</td>
                                <td id="hc-contract-budget-{{costing.costing_pk}}">{% if costing.contract_budget|floatformat:2 == "0.00" %}-{% else %}{{ costing.contract_budget|numberformat }}{% endif %}</td>
                                <td id="hc-claim-total-{{ costing.costing_pk }}">
                                    {% with total=costing.committed|add:costing.uncommitted %}
                                        {% if total|floatformat:2 == "0.00" %}-{% else %}{{ total|floatformat:2|intcomma }}{% endif %}
                                    {% endwith %}
                                </td>                              
                                <td id="hc-claim-uncommitted-{{ costing.costing_pk }}">
                                    <a href="#" data-toggle="modal" data-target="#hc-claim-editModal{{ costing.costing_pk }}" data-id="{{ costing.costing_pk }}">
                                        {% if costing.uncommitted|floatformat:2 == "0.00" %}-{% else %}{{ costing.uncommitted|floatformat:2|intcomma }}{% endif %}
                                    </a>
                                </td>
                                <td id="hc-claim-committed-{{ costing.costing_pk }}">{% if costing.committed|floatformat:2 == "0.00" %}-{% else %}{{ costing.committed|floatformat:2|intcomma }}{% endif %}</td>
                                <!-- <td id="fixed-on-site-display-{{ costing.costing_pk }}">
                                    <a href="#" data-toggle="modal" data-target="#hc-claim-fixedOnSiteModal{{ costing.costing_pk }}" data-id="{{ costing.costing_pk }}">
                                        {% if costing.fixed_on_site|floatformat:2 == "0.00" %}-{% else %}{{ costing.fixed_on_site|floatformat:2|intcomma }}{% endif %}
                                    </a>
                                </td>   -->
                                <td id="fixed-on-site-display-{{ costing.costing_pk }}"style="background: linear-gradient(to right, #4CAF50 {{ percentage }}%, transparent {{ percentage }}%);">
                                        <a href="#" data-toggle="modal" data-target="#hc-claim-fixedOnSiteModal{{ costing.costing_pk }}" data-id="{{ costing.costing_pk }}">
                                            {% if costing.fixed_on_site|floatformat:2 == "0.00" %}-{% else %}{{ costing.fixed_on_site|floatformat:2|intcomma }}{% endif %}
                                        </a>
                                    </td>                              
                                <td id="prev-fixed-on-site-display-{{ costing.costing_pk }}">{% if costing.hc_prev_fixedonsite|floatformat:2 == "0.00" %}-{% else %}{{ costing.hc_prev_fixedonsite|floatformat:2|intcomma }}{% endif %}</td>
                                <td id="difference-{{ costing.costing_pk }}"></td>
                                <td id="hc-prev-invoiced-{{costing.costing_pk}}">{% if costing.hc_prev_invoiced|floatformat:2 == "0.00" %}-{% else %}{{ costing.hc_prev_invoiced|floatformat:2|intcomma }}{% endif %}</td>
                                <td id="hc-this-claim-invoices-{{costing.costing_pk}}">
                                    {% if costing.category_order_in_list|floatformat:0 == '-1' %}
                                        <input type="number" 
                                               step="0.01" 
                                               style="width: 100%;" 
                                               id="hc-this-claim-input-{{ costing.costing_pk }}" 
                                               class="margin-item-input"
                                               value="{% if costing.hc_this_claim_invoices %}{{ costing.hc_this_claim_invoices|floatformat:2 }}{% endif %}"
                                        >
                                    {% else %}
                                        {% if costing.hc_this_claim_invoices|floatformat:2 == "0.00" %}-{% else %}{{ costing.hc_this_claim_invoices|floatformat:2|intcomma }}{% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if costing.category_order_in_list|floatformat:0 == '-1' %}
                                        <!-- No adjustment field for margin items -->
                                        <span>-</span>
                                    {% else %}
                                        {% with hc_claim_wip_adjustments|get_dict_value:costing.costing_pk as adjustment_value %}
                                            <input type="number" step="0.01" style="width: 100%;" id="hc-adjustment-{{ costing.costing_pk }}"
                                                   value="{% if adjustment_value and adjustment_value != 0 %}{{ adjustment_value }}{% else %}{% endif %}">
                                        {% endwith %}
                                    {% endif %}
                                </td>                                                               
                                <!-- <td><input type="number" step="0.01" style="width: 100%;" id="hc-adjustment-{{costing.costing_pk}}" /></td> -->
                                <td id="hc-prev-claimed-{{costing.costing_pk}}">{% if costing.hc_prev_claimed|floatformat:2 == "0.00" %}-{% else %}{{ costing.hc_prev_claimed|floatformat:2|intcomma }}{% endif %}</td>
                                <td id="hc-this-claim-{{ costing.costing_pk }}">
                                    {% if costing.category_order_in_list|floatformat:0 == '-1' %}
                                        {% if costing.hc_this_claim_invoices and costing.hc_this_claim_invoices != 0 %}
                                            {{ costing.hc_this_claim_invoices|floatformat:2|intcomma }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% else %}
                                        {% with result=costing.contract_budget|subtract:costing.committed|subtract:costing.uncommitted|add:costing.hc_prev_invoiced|add:costing.hc_this_claim_invoices|subtract:costing.hc_prev_claimed %}
                                            {% if result %}
                                                {{ result|floatformat:2|intcomma }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %}
                                </td>
                                <td id="qs-claimed-{{costing.costing_pk}}">{% if costing.qs_claimed|floatformat:2 == "0.00" %}-{% else %}{{ costing.qs_claimed|floatformat:2|intcomma }}{% endif %}</td>
                                <td id="qs-this-claim-{{ costing.costing_pk }}">
                                    {% if costing.category_order_in_list|floatformat:0 == '-1' %}
                                        {% if costing.hc_this_claim_invoices and costing.hc_this_claim_invoices != 0 %}
                                            {{ costing.hc_this_claim_invoices|floatformat:2|intcomma }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% else %}
                                        {% if costing.qs_this_claim != None %}
                                            {{ costing.qs_this_claim|floatformat:2|intcomma }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                                {% endwith %}
                          {% endfor %}
                          <tr id="hcPrepSheetTotalRow" style="font-weight: bold; background: linear-gradient(1deg, #A090D0 0%, #B3E1DD 100%); color: white;">
                            <td>Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>                        
                          {% block extra_rows %}{% endblock %}
                        </tbody>
                      </table>                
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div class="text-left">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="text-center">
                    <button type="button" class="btn" data-dismiss="modal" style="background-color: #cce5ff; border: 1px solid #66b2ff; color: #004085;" id="saveAdjustmentsButton">Save Values, Continue Later</button>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="finalise_hc_claim_btn" data-claim-id="{{ current_hc_claim_display_id }}">Finalise Claim</button>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- 3b: Uncommitted Modal -->
{% for costing in costings %}
<div class="modal fade" id="hc-claim-editModal{{ costing.costing_pk }}" tabindex="-1" role="dialog" aria-labelledby="hc-claim-editModalLabel{{ costing.costing_pk }}" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 600px;">
            <div class="modal-content" style="border: 3px solid black;">
                <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                    <h5 class="modal-title" id="hc-claim-editModalLabel{{ costing.costing_pk }}">Edit Uncommitted</h5>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <th></th>
                            <th>Uncommitted</th>
                            <th>Committed</th>
                            <th>Total</th>
                            <th>Notes</th>
                        </tr>
                        <tr>
                            <td>Original</td>
                            <td>{{ costing.uncommitted|floatformat:2|intcomma }}</td>
                            <td>{{ costing.committed|floatformat:2|intcomma }}</td>
                            <td>{{ costing.committed|add:costing.uncommitted|floatformat:2|intcomma }}</td>
                            <td>{{ costing.uncommitted_notes }}</td>
                        </tr>
                        <tr>
                            <td>Edited</td>
                            <td>
                                <input type="number" class="form-control committed-input" id="hc-claim-uncommittedInput{{ costing.costing_pk }}" value="{{ costing.uncommitted }}">
                            </td>
                            <td>{{ costing.committed|floatformat:2|intcomma }}</td>
                            <td id="hc-claim-total{{ costing.costing_pk }}">{{ costing.committed|add:costing.uncommitted|floatformat:2|intcomma }}</td>
                            <td>
                                <input type="text" class="form-control" id="hc-claim-notesInput{{ costing.costing_pk }}" value="{{ costing.uncommitted_notes }}" placeholder="Add notes here">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer" style="justify-content: flex-start;">
                    <button type="button" class="btn-custom" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary save-hc-costs" data-id="{{ costing.costing_pk }}" style="margin-left: auto;">Save</button>
                </div>              
            </div>
        </div>
    </div>
{% endfor %}

<!-- 3c: Fixed on Site Modal-->
{% for costing in costings %}
<div class="modal fade" id="hc-claim-fixedOnSiteModal{{ costing.costing_pk }}" tabindex="-1" role="dialog" aria-labelledby="hc-claim-fixedOnSiteModalLabel{{ costing.costing_pk }}" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 600px;">
        <div class="modal-content" style="border: 3px solid black;">
            <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                <h5 class="modal-title" id="hc-claim-fixedOnSiteModalLabel{{ costing.costing_pk }}">Fixed On Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>Working Budget</th>
                        <th>Invoiced</th>
                        <th>Existing Fixed on Site</th>
                        <th id="hc-claim-newFixedOnSiteHeader{{ costing.costing_pk }}">New Fixed on Site ($)</th>
                    </tr>
                    <tr>
                        <td id="hc-claim-contractBudget{{ costing.costing_pk }}">{{ costing.committed|add:costing.uncommitted|floatformat:2|intcomma }}</td>
                        <td>{{ costing.sc_invoiced|floatformat:2|intcomma }}</td>
                        <td>{{ costing.fixed_on_site|floatformat:2|intcomma }}</td>
                        <td>
                            <input type="number" class="form-control" id="hc-claim-newFixedOnSite{{ costing.costing_pk }}" value="{{ costing.fixed_on_site|floatformat:2 }}">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn-custom" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save-hc-fixed-costs" data-id="{{ costing.costing_pk }}">Save</button>      
            </div>
        </div>
    </div>
</div>
{% endfor %}