{% extends "master.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}
{% block title %}
  Developer Project Manager
{% endblock %}
{% block content %}

<head>
    <link rel="icon" href="{% static 'favicon.ico' %}">
</head>

<h3 style="text-align: center;">{{ project_name }} Project <img src="{% static 'logo.png' %}" alt="Icon" style="height: 1.6em; vertical-align: middle; position: relative; bottom: 0.3em;">anager - Consultants, Authorities</h3>

<div style="display: flex; justify-content: space-between;">
  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="dropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
        <option selected disabled>Quotes</option>
        <option id="commitCostsBtn" value="commitCosts">Enter Quotes</option>
        <option id="committedQuotesBtn" value="committedQuotes">Existing Quotes</option>
    </select>
  </div>

  <div style="width: 175px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="poDropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
        <option selected disabled>Purchase Orders</option>
        <option id="createPoBtn" value="createPo">Create PO</option>
        <option id="viewSendPoBtn" value="viewSendPo">View and Send POs</option>
        <option id="updatePoBtn" value="updatePo">Update PO</option>
    </select>
  </div>

  <div style="width: 125px; padding: 10px; text-align: center; border-radius: 10px; margin-right: 10px;">
    <select id="claimsDropdown" style="width: 100%; background-color: white; color: black; border: 3px solid transparent; border-radius: 10px; border-image: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%) 1;">
        <option selected disabled>Claims</option>
        <option id="newClaimBtn" value="newClaim">New Claim</option>
        <option id="existingClaimsBtn" value="existingClaims">Existing Claims</option>
    </select>
  </div>
</div>

  <input type="file" id="pdfInput" style="opacity: 0; position: absolute; left: -9999px;">
  <input type="hidden" id="division" value="{{ division }}">

{% include 'base_table.html' %}
{% include 'po_modals.html' %}
{{ contacts|json_script:"contacts" }}
{{ committed_quotes|json_script:"committed-quotes-data" }}
{{ costings|json_script:"costings" }}
{{ items|json_script:"items-data" }}
{{ quote_allocations|json_script:"quote-allocations-data" }}

<script type="text/javascript">
    var contacts = JSON.parse(document.getElementById('contacts').textContent);
    var committedQuotes = JSON.parse('{{ committed_quotes|escapejs|safe }}');
    var costings = JSON.parse(document.getElementById('costings').textContent);
    var quote_allocations = JSON.parse('{{ quote_allocations|escapejs|safe }}');
</script>
<script src="{% static 'main/base_table.js' %}"></script>
<script src="{% static 'main/commit_costs.js' %}"></script>
<script src="{% static 'main/committed_costs.js' %}"></script>
<script src="{% static 'main/contacts.js' %}"></script>
<script src="{% static 'main/po.js' %}"></script>
<script src="{% static 'main/view_send_po.js' %}"></script>
{% endblock %}
