
<!--Create Purchase Order Supplier Select Modal-->
<div class="modal fade" id="createPoSelectModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 300px;">
        <div class="modal-content" style="border: 3px solid black;">
            <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                <h5 class="modal-title">Create Purchase Order</h5>
            </div>
            <div class="modal-body">
              <select class="form-control" id="poSupplierSelect">
                  <option selected>Select Supplier...</option>
                  {% for contact in contacts_in_quotes %}
                      <option value="{{ contact.contact_pk }}">{{ contact.contact_name }}</option>
                  {% endfor %}
                  {% for contact in contacts_not_in_quotes %}
                      <option value="{{ contact.contact_pk }}" disabled style="color: grey;">{{ contact.contact_name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" id="saveCategoryButton">Select</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!-- Create Purchase Order Modal -->
  <div class="modal fade" id="createPoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 750px; max-height: calc(100vh - 60px); overflow-y: auto;">
        <div class="modal-content" style="border: 3px solid black;">
            <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                <h5 class="modal-title">Create Purchase Order</h5>
            </div>
            <div class="modal-body">
              <p>Supplier: XXX</p>
              <table class="table">
                  <thead>
                      <tr style="padding: 0; margin: 0;">
                          <th>Item</th>
                          <th>Variation</th>
                          <th>quote 1 $</th>
                          <th>quote 2 $</th>
                          <th>quote 3 (& so on) $</th>
                          <th>total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr style="line-height: 10px;">
                        <td><button type="button" class="btn btn-small">+</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style="line-height: 10px;">
                        <td><strong>Total</strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tbody>
              </table>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" id="createPoButton">Create</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <!--Create Purchase Order View and Email Modal-->
  <div class="modal fade" id="createPoViewSendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 800px;">
        <div class="modal-content" style="border: 3px solid black;">
            <div class="modal-header" style="text-align: center; background: linear-gradient(45deg, #A090D0 0%, #B3E1DD 100%);">
                <h5 class="modal-title">View and Send Purchase Orders</h5>
            </div>
            <div class="modal-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Supplier</th>
                    <th>Email</th>
                    <th>Send/Sent</th>
                  </tr>
                </thead>
                <tbody>
                  {% for po_order in po_orders %}
                  <tr>
                    <td>
                      <a href="{% url 'view_po_pdf' po_order.po_order_pk %}" target="po-pdf-iframe">{{ po_order.supplier_name }}</a>
                      <input type="hidden" class="po-order-pk" value="{{ po_order.po_order_pk }}">
                    </td>
                    <td>{{ po_order.supplier_email }}</td>
                    <td>
                      {% if po_order.po_sent %}
                        <span style="color: green;">&#10004;</span>
                      {% else %}
                        <input type="checkbox" class="sent-checkbox">
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <iframe name="po-pdf-iframe" style="width: 100%; height: 500px; border: none;"></iframe>
            </div>
            <div class="modal-footer">
                <div class="col-6">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <div class="col-6 text-right">
                    <button type="button" class="btn btn-primary" id="sendEmailButton">Email Selected</button>
                </div>
            </div>
        </div>
    </div>
  </div>